body {
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 13px;
    padding: 30px;
    background: #f7f7f7;
  }

  .container {
    display: flex;
  }
  
  .top-left-top-box {
    margin-right: 20px;
    border-style: solid;
    border-radius: 5px;
    border-color:#ddd;
    padding: 10px;
  }

  .top-left-bottom-box {
    border-style: solid;
    border-radius: 5px;
    border-color:#ddd;
    padding: 10px;

  }

  .top-right-box {
    margin-top: auto;
    margin-bottom: auto;
  }

  .top-right-top-box {
    margin-left: 20px;
    margin-bottom: 20px;
    height: 50px;
    width: 300px;
    text-align: center;
  }
  
  .top-right-middle-box {
    margin-left: 20px;
    margin-bottom: 20px;
    border-style: solid;
    border-radius: 5px;
    border-color:#ddd;
    height: 75px;
    padding: 10px;
  }

  .top-right-bottom-box {
    margin-bottom: 20px;
    margin-left: 20px;
    border-style: solid;
    border-radius: 5px;
    border-color:#ddd;
    display: flex;
    padding: 10px;
  }

  .top-left-box {
    border-style: solid;
    border-radius: 5px;
    border-color:#ddd;
    margin-bottom: 20px;
    padding: 10px;
  }

  .bottom-left-box {
    display: flex;
  }

  .title-left {
    display: flex;
    margin-right: 400px;
  }

  .title-right {
    margin-left: 10px;
    margin-top: 20px;
    display: flex;

  }
  .note {
    margin-right: 280px;
  }

  #heatmap {
    height: 500px;
  }

  #geographic-map {
    width: 650px;
    height: 400px;
  }

.country:hover {
  stroke: #333;
}

.country.active {
  stroke: #333;
  fill: rgb(247, 125, 125);
}

.axis line {
  display: none;
}

button#heatmap-reset {
  height: 30px;
  width: 100px;
}

.h-cell {
  stroke: none;
}
.h-cell.selected {
  stroke: green;
  stroke-width: 2;
}


/* Tooltip */
#tooltip {
  position: absolute;
  display: none;
  background: #fff;
  box-shadow: 3px 3px 3px 0px rgb(92 92 92 / 0.5);
  border: 1px solid #ddd;
  font-size: 12px;
  font-weight: 500;
  padding: 8px;
  min-width: 160px;
  color: #333;
}
.tooltip-title {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
#tooltip ul {
  margin: 5px 0 0 0;
  padding-left: 20px;
}

/* Scatterplot Axis */
.y-axis .tick line {
  stroke: #b1b1b1;
}
.x-axis .tick:first-child line {
  display: none;
}
.axis path {
  display: none;
}

/*
Budget Slider

Code referenced from:
https://medium.com/@predragdavidovic10/native-dual-range-slider-html-css-javascript-91e778134816
 */

.range_container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 35% auto;
}

.sliders_control {
  position: relative;
  min-height: 10px;
  margin-top: 15px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  pointer-events: all;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 0 1px #C6C6C6;
  cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover {
  background: #f7f7f7;
}

input[type=range]::-webkit-slider-thumb:active {
  box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
  -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 2px;
  width: 100%;
  position: absolute;
  background-color: #C6C6C6;
  pointer-events: none;
}

#slider1 {
  height: 0;
  z-index: 1;
}

.bar {
  fill: #b29ef6;
}

.bar:hover {
  stroke: #000;
  stroke-width: 2;
}

.bar.active {
  fill: #1f2053;
}
